@font-face {
	font-family: 'Samsung Sans';
	font-style: normal;
	font-weight: normal;
	src: local( 'Samsung Sans Regular' ), url( '../fonts/SamsungSans-Regular.woff' ) format( 'woff' );
}

body {
	font-family: 'Samsung Sans';
}

* {
	-webkit-backface-visibility: hidden;
	text-shadow: none;
}

.navbar {
	height: 48px;
	background: #007096;
}

	.navbar .center,
	.subnavbar .center {
		line-height: 48px;
		font-size: 17px;
	}

.content-block,
.list-block {
	margin-top: 16px;
	margin-bottom: 16px;
}

	.item-content {
		padding-left: 0px;
	}

	.button {
		text-transform: none;
		height: 38px;
		line-height: 38px;
	}

	.list-block .input-item .item-inner:not(.focus-state):not(.not-empty-state) .floating-label,
	.list-block.inputs-list .item-inner:not(.focus-state):not(.not-empty-state) .floating-label {
		-webkit-transform: scale( 1.15 ) translateY( 21px );
		transform: scale( 1.15 ) translateY( 21px );
	}

	.list-block input[type="text"],
	.list-block input[type="password"],
	.list-block input[type="search"],
	.list-block input[type="email"],
	.list-block input[type="tel"],
	.list-block input[type="url"],
	.list-block input[type="date"],
	.list-block input[type="datetime-local"],
	.list-block input[type="time"],
	.list-block input[type="number"],
	.list-block select,
	.list-block textarea {
		font-size: 14px;
	}

	.item-media i {
		opacity: 0.6;
	}

	.item-content .item-inner:nth-child(2) {
		margin-left: 0;
	}

.modal {
	-webkit-backface-visibility: hidden;
    -webkit-transform: translateZ( 0 ) scale( 1.0, 1.0 );
    transform: translateZ( 0 );
	font-smoothing: antialiased !important;
}

	.modal-inner {
		padding: 16px;
	}

		.modal-title {
			font-size: 17px;
		}

		.modal-text {
			margin-top: 16px;
			font-size: 14px;
		}

#setup-screen,
.login-screen,
.login-screen-content  {
	background: #007096;
	color: #ffffff;
}

	.login-screen .list-block input[type="text"],
	.login-screen .list-block input[type="password"],
	.login-screen .list-block input[type="search"],
	.login-screen .list-block input[type="email"],
	.login-screen .list-block input[type="tel"],
	.login-screen .list-block input[type="url"],
	.login-screen .list-block input[type="date"],
	.login-screen .list-block input[type="datetime-local"],
	.login-screen .list-block input[type="time"],
	.login-screen .list-block input[type="number"],
	.login-screen .list-block select,
	.login-screen .list-block textarea {
		color: #ffffff;
	}

	.login-screen .item-media i {
		font-size: 23px;
	}

	.list-block .input-item .item-inner .floating-label,
	.list-block.inputs-list .item-inner .floating-label {
		color: #ffffff;
	}

		.login-screen .item-input-field:not(.focus-state):after {
			background-color: rgba( 255, 255, 255, 0.4 );
		}

		.login-screen .item-input-field.focus-state:after {
			background-color: rgba( 255, 255, 255, 1 );
		}

		.login-screen .list-block .list-button {
			text-align: center;
			font-size: 14px;
			margin-top: -8px;
		}

			.login-screen .list-block .list-button i {
				vertical-align: middle;
				opacity: 0.6;
				font-size: 25px;
			}

	#setup-loader {
		display: table;
		margin: 0 auto;
	}

	#setup-status {
		position: fixed;
		left: 16px;
		right: 16px;
		bottom: 32px;
		text-align: center;
	}

	#setup-status em {
		display: inline-block;
		width: 20px;
		text-align: left;
	}
